$main-background-colour: #f4f1ec;
$userName-background: #e39c46;

$tweeter-font: 'Bungee', cursive;
$regular-font: 'Source Sans Pro', sans-serif;
$regular-font-color: #545149;

$red-highlights: #f80929;
$blue-highlights: #4056A1;



