@use 'base';

#userProfile {
  align-items: center;
  background-color: base.$userName-background;
  background-image: url(http://www.transparenttextures.com/patterns/always-grey.png);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  
  h2 {
    margin: 8px;
  }
}

