@use 'base';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: base.$regular-font-color;
  background-color: base.$main-background-colour;
  font-size: 1.5em;
  font-family: base.$regular-font;
}


main {
  background-color: base.$main-background-colour;
  margin: auto;
  width: 90%;
}


/* computer screen sizes upwards 1024px upwards */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  nav {
    span {
    padding: 0.2em;
    text-shadow:
      -0.1em -0.1em base.$grey-highlights,
      0.1em -0.1em base.$grey-highlights,
      -0.1em 0.1em base.$grey-highlights,
      0.1em 0.1em base.$grey-highlights;
    }

    .write-new-tweet {
      background-color: rgba(base.$blue-highlights, 0.75);
      border-radius: 0.5em;
      padding-bottom: 0.6em;
    }

  }
 
}

/* computer screen sizes upwards 1024px upwards */
@media only screen and (min-width: 1025px) {
  #headerTweets {
    display: flex;
    flex-direction: row;
  }

  #userProfile  {
    margin-left: 4%;
    margin-top: 7.2em;
    width: 40%;
    border-radius: 1em;
  }

  .container {
    margin-top: 5em;
    width: 60%;
  }

  nav {
    background-color: base.$blue-highlights;
  }
}




