@use 'base';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: base.$regular-font-color;
  background-color: base.$main-background-colour;
  font-size: 24px;
  font-family: base.$regular-font;
}


main {
  background-color: base.$main-background-colour;
  margin: auto;
  width: 90%;
}

/* computer screen sizes upwards 1024px upwards */
@media only screen and (min-width: 1024px) {
  #headerTweets {
    display: flex;
    flex-direction: row;
  }

  #userProfile  {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    width: 40%;
  }

  .container {
    margin-top:120px;
    width: 60%;
  }

  nav {
    background-color: base.$blue-highlights;
  }
}


