@use 'base';

nav {
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  height: 5em;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;

  
  span {
    font-family: base.$tweeter-font;
    font-size: 1.8em;
  }

  p {
    margin: 0.3em;
  }

  .write-new-tweet {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .write-new-tweet:hover .fas.fa-angle-double-down{
    animation-name: arrow-down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: base.$red-highlights;
    position: relative;
  }
  
  @keyframes arrow-down {
    0%   {top: 0em}
    25%  {top: 0.5em}
    50%  {top: 0em}
    75%  {top: 0.5em}
    100% {top: 0em}
  }
  
  .write-new-tweet:hover p{
    text-decoration: underline;
  }

}


// the "write a new tweet" link at the top was turning blue and underlined cus it is a hyperlink
a.write-new-tweet {
  color: unset;
  text-decoration: unset;
}


a.anchor {
  position: relative;
  top: -5em; // need to offset the anchor because of the fixed nav bar
}
