@use 'base';

nav {
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  height: 5em;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;

  
  span {
    font-family: base.$tweeter-font;
    font-size: 1.8em;
    padding: 0.2em;
    text-shadow:
      -0.1em -0.1em base.$grey-highlights,
      0.1em -0.1em base.$grey-highlights,
      -0.1em 0.1em base.$grey-highlights,
      0.1em 0.1em base.$grey-highlights;
    
  }

  p {
    margin: 0.3em;
  }

  .write-new-tweet {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
  }

  .fas.fa-angle-double-down{
    animation-name: arrow-down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: base.$red-highlights;
    position: relative;
  }
  
  @keyframes arrow-down {
    0%   {top: 0em}
    25%  {top: 0.5em}
    50%  {top: 0em}
    75%  {top: 0.5em}
    100% {top: 0em}
  }
  
  .write-new-tweet:hover p{
    text-decoration: underline;
  }

  .write-new-tweet:hover{
    cursor: pointer;
  }
}


