@use 'base';

.new-tweet {
  margin: auto;
  width: 90%;

  h2 {
    margin-left: 0;
    padding-top: 20px;
  }
}


/* tweet input box */
#tweet-text {
  background-color: base.$main-background-colour;
  border: none;
  border-bottom: 2px solid rgb(58, 57, 57);
  color: base.$regular-font-color;
  font-weight: bold;
  height: 58px;
  padding-top: 20px;
  resize: none;
  width: 100%;

  &::placeholder {
    font-weight: bold;
    opacity: 70%;
    z-index: -1;
  }

  /* removes the border when the user clicks into the input box */
  &:focus {
    outline: none;
  }
}


//flex container containing the tweet-button, potential error message, and the counter
.submit-new-tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.tweet-button {
  border: none;
  background-color: base.$blue-highlights;
  font-family: base.$tweeter-font;
  color: white;
  padding: 6px 12px;
  font-size: 20px;
}

.counter {
  font-weight: bold;
  font-family: base.$tweeter-font;
  font-size: 17px;
}




