@use 'base';

.tweets-container {
  article {
    border: 0.15em solid rgb(99, 98, 98);
    border-radius: 0.8em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0.8em;
    width: 90%;

    p{
      font-weight: bold;
      overflow-wrap: break-word; //this will wrap words around if they are short words, but break longer words up if they need to
      padding: 0.8em;
    }
  }

  article:hover {
    box-shadow: 0.3em 0.4em #888888;
  }

  header {
    align-items: flex-start;
    background-color: base.$main-background-colour;
    background-image: none;
    display: flex;
    flex-direction: row;
    height: unset;
    justify-content: space-between;
    margin: 0.8em;
  }

  .avatar-userName {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .userName {
    padding: 1em;
  }
  
  .tweet{
    border-bottom: 0.15em solid black;
  }

  .tweetInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 1em;
  }

  // action icons are spread out
  .tweetOptions i {
    padding: 0.2em;
  }

  .tweetOptions i:hover {
    color: base.$red-highlights;
  }

}


#new-tweet-submit-error {
  align-items: center;
  display: flex; 
  font-style: italic;
  font-weight: bold;
}


#error-message {
  color: base.$red-highlights;
  padding-left: 1.5em;
  font-size: 0.8em;
}
