.fas.fa-chevron-circle-up {
  bottom: 0;
  color: #f80929;
  font-size: 3.2em;
  opacity: 75%;
  padding-bottom: 0.2em;
  padding-right: 0.2em;
  position: fixed;
  right: 0;
  visibility: hidden;
}

.fas.fa-chevron-circle-up:hover {
  cursor: pointer;
}
