#userProfile {
  align-items: center;
  background-color: #e39c46;
  background-image: url(http://www.transparenttextures.com/patterns/always-grey.png);
  display: flex;
  flex-direction: column;
  height: 16em;
  justify-content: center;
}
#userProfile h2 {
  margin: 0.1em;
}
