html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  background-color: #f4f1ec;
  margin: auto;
  width: 90%;
}

/* computer screen sizes upwards 1024px upwards */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav span {
    border-radius: 15px;
    padding: 10px;
    text-shadow: -2px -2px #3f3e3d, 2px -2px #3f3e3d, -2px 2px #3f3e3d, 2px 2px #3f3e3d;
  }
  nav .write-new-tweet {
    background-color: rgba(64, 86, 161, 0.75);
    border-radius: 15px;
    padding-bottom: 20px;
  }
}
/* computer screen sizes upwards 1024px upwards */
@media only screen and (min-width: 1025px) {
  #headerTweets {
    display: flex;
    flex-direction: row;
  }

  #userProfile {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    width: 40%;
  }

  .container {
    margin-top: 120px;
    width: 60%;
  }

  nav {
    background-color: #4056A1;
  }
}
