html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  background-color: #f4f1ec;
  margin: auto;
  width: 90%;
}

/* computer screen sizes with max width of 1024px */
@media only screen and (max-width: 1024px) {
  nav .write-new-tweet {
    background-color: rgba(64, 86, 161, 0.75);
    border-radius: 0.5em;
    padding-bottom: 0.6em;
  }

  footer .fas.fa-chevron-circle-up {
    padding-bottom: 0.4em;
    padding-right: 0.4em;
  }
}
/* computer screen sizes upwards 1024px upwards */
@media only screen and (min-width: 1025px) {
  #headerTweets {
    display: flex;
    flex-direction: row;
  }

  #userProfile {
    margin-left: 4%;
    margin-top: 7.2em;
    width: 40%;
    border-radius: 1em;
  }

  .container {
    margin-top: 5em;
    width: 60%;
  }

  nav {
    background-color: #4056A1;
  }
}
