nav {
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  height: 120px;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  z-index: auto;
}

span {
  font-family: 'Bungee', cursive;
  font-size: 40px
}

p {
  margin: 8px
}

.write-new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}