nav {
  color: #FFFFFF;
  display: flex;
  font-size: 24px;
  height: 120px;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
}
nav span {
  font-family: "Bungee", cursive;
  font-size: 40px;
}
nav p {
  margin: 8px;
}
nav .write-new-tweet {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .write-new-tweet:hover .fas.fa-angle-double-down {
  animation-name: arrow-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: #f80929;
  position: relative;
}
@keyframes arrow-down {
  0% {
    top: 0px;
  }
  25% {
    top: 12px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 12px;
  }
  100% {
    top: 0px;
  }
}
nav .write-new-tweet:hover p {
  text-decoration: underline;
}

a.write-new-tweet {
  color: unset;
  text-decoration: unset;
}

a.anchor {
  position: relative;
  top: -120px;
}
