.new-tweet {
  margin: auto;
  width: 90%;
}
.new-tweet h2 {
  margin-left: 0;
  padding-top: 0.75em;
}

/* tweet input box */
#tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 0.15em solid #3a3939;
  color: #545149;
  font-weight: bold;
  height: 2.5em;
  padding-top: 0.8em;
  resize: none;
  width: 100%;
  /* removes the border when the user clicks into the input box */
}
#tweet-text::placeholder {
  font-weight: bold;
  opacity: 70%;
  z-index: -1;
}
#tweet-text:focus {
  outline: none;
}

.submit-new-tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4em;
}

.tweet-button {
  border: none;
  background-color: #4056A1;
  font-family: "Bungee", cursive;
  color: white;
  padding: 0.35em 0.7em;
  font-size: 0.85em;
}

.counter {
  font-weight: bold;
  font-family: "Bungee", cursive;
  font-size: 0.7em;
}
