.tweets-container article {
  border: 0.15em solid #636262;
  border-radius: 0.8em;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0.8em;
  width: 90%;
}
.tweets-container article p {
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 0.8em;
}
.tweets-container article:hover {
  box-shadow: 0.3em 0.4em #888888;
}
.tweets-container header {
  align-items: flex-start;
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  flex-direction: row;
  height: unset;
  justify-content: space-between;
  margin: 0.8em;
}
.tweets-container .avatar-userName {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.tweets-container .userName {
  padding: 1em;
}
.tweets-container .tweet {
  border-bottom: 0.15em solid black;
}
.tweets-container .tweetInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 1em;
}
.tweets-container .tweetOptions i {
  padding: 0.2em;
}
.tweets-container .tweetOptions i:hover {
  color: #f80929;
}

#new-tweet-submit-error {
  align-items: center;
  display: flex;
  font-style: italic;
  font-weight: bold;
}

#error-message {
  color: #f80929;
  padding-left: 1.5em;
  font-size: 0.8em;
}
