.tweets-container article {
  border: 3px solid #636262;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
  width: 90%;
}
.tweets-container article p {
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 20px;
}
.tweets-container article:hover {
  box-shadow: 5px 10px #888888;
}
.tweets-container header {
  align-items: flex-start;
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  flex-direction: row;
  height: unset;
  justify-content: space-between;
  margin: 15px;
}
.tweets-container .avatar-userName {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.tweets-container .userName {
  padding: 20px;
}
.tweets-container .tweet {
  border-bottom: 3px solid black;
}
.tweets-container .tweetInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 30px;
}
.tweets-container .tweetOptions i {
  padding: 5px;
}
.tweets-container .tweetOptions i:hover {
  color: #f80929;
}

#new-tweet-submit-error {
  align-items: center;
  display: flex;
  font-style: italic;
  font-weight: bold;
}

#error-message {
  color: #f80929;
  padding-left: 30px;
}
